body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: DropText; /*这里是说明调用来的字体名字*/
  src: url('../img/weike/drop.TTF'); /*这里是字体文件路径*/
}

#container{
  width:100%;
}

a {
  color: #00B7FF;
}
