<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>-->
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5">
    <title>一滴领导力

    </title>

    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <!--<link rel="stylesheet" href="../stylesheets/weui.min.css" type="text/css">-->
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body style="margin: 0; padding: 0;">
<div id="container"></div>
<script>
//    ONEDROP_AUDIO = [];
//    [1,2,3,4].map(function (con,idx) {
//        var audio = document.createElement('audio');
//        audio.preload = 'auto';
//        audio.src = 'https://www.mymax.cn/videos/voices/section_1_1_'+con+'.mp3';
//        audio.id = 'che_dan_de_yin_pin'+con;
//        ONEDROP_AUDIO.push(audio);
//    })
</script>
<script>
    REMOTE_WEIXIN_USER_ID = "<%= user_id %>";
    REMOTE_WEIXIN_ACCESS_TOKEN = "<%= access_token %>";
</script>
<div id="main-container"></div>

<audio id="che_dan_de_yin_pin1" preload="auto" src="https://www.mymax.cn/videos/voices/section_1_1_1.mp3"/>
<audio id="che_dan_de_yin_pin2" preload="auto" src="https://www.mymax.cn/videos/voices/section_1_1_2.mp3"/>
<audio id="che_dan_de_yin_pin3" preload="auto" src="https://www.mymax.cn/videos/voices/section_1_1_3.mp3"/>
<audio id="che_dan_de_yin_pin4" preload="auto" src="https://www.mymax.cn/videos/voices/section_1_1_4.mp3"/>

<script src="../output/js/view/main/index.bundle.js"></script>
</body>
</html>
